#first{
height: 250px;

}
#titre{
    text-align: center;
}
.logos{
  
    margin-top: 150px;
    margin-left: 30px;
   
}


/*.topIMG{
    width: 750px;
    height: auto;
    margin:0px 10px 0px 70px;
}
*/
#second{
  
    height: 600px;
    margin-top: 1px;
}
#texte{
    margin-top: 50px;
    text-align: center;
    font-size: large;
    font-style: italic;
}



#naissance{

width: 600px;
}

#camps{
    width: 350px;
    height: 35px;
}
#boutton{
    margin-top: 150px;
    margin-left: 550px;
    width: 150px;
}

#select{
    width: 350px;
    height: 35px;
}

.img{
    width: 120px;
}

#trois{
    margin-top: 130px;
   margin-left: 500px;
 width: 700px;
}

.fse{ 
text-align: center;

width: 100px;

}